body {
        font-family: 'Inter', sans-serif;
        background-color: #dfe3ea; 
    }

    h1 {
      font-size: 3rem; 48px
      font-weight: 800;
      color:  #1f2937; 
        text-align: center;
    }
    h2 {
      font-size: 2.25rem; 36px
      font-weight: 700;
      color:  #1f2937; 
    }
    h3 {
      font-size: 1.875rem; 30px
      font-weight: 600;
      color:  #1f2937; 
    }
    h4 {
      font-size: 1.5rem; 24px
      font-weight: 500;
      color:  #1f2937; 
    }
    p {
      font-size: 1rem; 16px
      font-weight: 400;
      color:  #4b5563; 
    }
    .border-primary {
        border-color: #3b82f6; 
    }
