 /* main styles */
body {
    background-color:whitesmoke;
    margin: 90px;
    font-family: 'inter', sans-serif;
}

.container {
   display: grid;
    gap: 1.5rem;
    border: outset 6px #99D276;
    border-radius: 20px;
    padding: 8px;
    margin: 8px 0;
    color:#499FA4;
    font-family: 'Inter', sans-serif;
    text-align : center;
}

.main-heading-text {
  color: #DF6045;
}
    
.section-title {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color:#CC6CAF;
    text-align: center;
}
.main-title {
    font-size: 2.6rem;
    color: #CC6CAF;
    text-align: center;
}
.body-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.125rem; 
    line-height: 1.75rem; 
    color: #DF6045;
   
}
.color-swatch {
    border: solid 1px #ccc;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.font-panel {
  width: 40%;
  display: inline-block;
  color: #DF6045;

}
.font-label {
  font-size: 23px;
  text-decoration: underline;
  color: #499FA4;
}

.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.times-new-roman {
  font-family: 'Times new roman', sans-serif;
}

.arial {
  font-family: 'arial', sans-serif;
}

.lucida-sans {
  font-family: 'Lucida sans', sans-serif;

}





